body, html {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

h1,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: black;
}

#purpose-header {
  text-align: left;
  font-size: 240%;
  margin: 8rem 0 2rem 1rem;
}

#purpose-image {
  margin-top: 2rem;
}

#purpose-text {
  text-align: left;
  font-size: 125%;
  margin-right: 6rem;
  margin-left: 1rem
}

.purpose {
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: black;
  overflow-x: hidden;
}

@media (max-width: 767px) {

  #purpose-header {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  #purpose-image {
    margin-top: 0;
  }

  #purpose-text {
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .purpose {
    padding-top: 30px;
    padding-bottom: 0px;
  }
}

.infotitles {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 220% !important;
  text-transform: none !important;
  margin-top: 0% !important;
  margin-bottom: 2rem !important;
  letter-spacing: normal !important;
}

.testimonials {
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  -webkit-box-shadow: 0px 5px 5px 0px #adb5bd;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.testimonials .row {
  margin-top: 3%;
}

.information .links {
  margin-top: 2%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #ffffff;
}

.tool-text {
  color: rgb(0, 0, 0);
  font-size: 1.5vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.tool-container {
  position: relative;
  width: 200px;
  height: 200px;
}

.tool-container:hover .overlay {
  opacity: 0.9;
}

.tool-container-mini {
  position: relative;
  width: 100px;
  height: 100px;
}

.tool-container-mini:hover .overlay {
  opacity: 0.9;
}

.linklist {
  text-align: center;
  margin-bottom: 4%;
  font-size: 120%;
}

.link-item {
  display: inline;
  margin: 0 4%;
}

.link-item a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 1.5vh;
  border-radius: 20px;
}

.link-item a:hover {
  color: white;
  background-color: black;
}
