/* CSS file for NaturalDisasters.js */

#filter-row-1 {
  width: 100%;
  margin-top: 0;
}

#filter-row-2 {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

#sort-bar {
  width: 100%;
}

#search-bar {
  width: 100%;
}
