/* CSS file for States.js */

/* Please be careful with this file
   States.js pulls CSS from style.css AND this file
*/

#filter-row-1 {
  width: 100%;
  margin-top: 0;
}

#filter-row-2 {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 2%;
}

#sort-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#search-bar {
  width: 75%;
  padding: 3%;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  border-radius: 4px;
}
