/*
    Theme Name: Knight
    Theme URL: https://bootstrapmade.com/knight-free-bootstrap-theme/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
*/

/* CSS Document */

/* Float Elements
---------------------------------*/
.fl-lt {float:left;}
.fl-rt {float:right;}

/* Clear Floated Elements
---------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.figure{ margin:0px;}

img{ max-width:100%;}

a, a:hover, a:active{ outline:0px !important}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Primary Styles
---------------------------------*/
body {
	background:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#888888;
	margin:0;
}
h2{
	font-size:50px;
	color:#222222;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	letter-spacing: -1px;
	margin:100px 0 15px 0;
	text-align:center;
	text-transform:uppercase;
}
h3{
	font-family: 'Montserrat', sans-serif;
	color:#222222;
	font-size:16px;
	margin:0 0 5px 0;
	text-transform:uppercase;
	/*font-weight:400;*/
	font-weight: bold;
}
h6{
	font-size:16px;
	/*color:#888888;*/
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	text-align:center;
	margin:0 0 60px 0;
}
p{
	line-height:24px;
	margin:0;
	text-align: center;
	color: black;
}

/* Header Styles
---------------------------------*/

.logo{
	width:130px;
	margin:0 auto 35px;
}
.header h1{
	font-family: 'Montserrat',sans-serif;
	font-size:50px;
	font-weight:400;
	letter-spacing: -1px;
	margin:0 0 22px 0 ;
	color:#fff;
}

.we-create{
	padding:0;
	margin:35px 0 55px;
}
.wp-pic{
	margin-bottom:20px;
}
.we-create li{
	display:inline-block;
	font-family: 'Montserrat',sans-serif;
	font-size:14px;
	color: #bcbcbc;
	text-transform: uppercase;
	font-weight: 400;
	margin:0 5px 0 0;
	padding:0 0 0 15px;
}
.we-create li:first-child{
	background:none;
}

.start-button {
	padding-left: 0px;
}

.start-button li a{
color: #fff;
}


.link{
	padding:15px 35px;
	background:#7cc576;
	color:#fff !important;
	font-size:16px;
	font-weight:400;
	font-family: 'Montserrat', sans-serif;
	display:inline-block;
	border-radius:3px;
	text-transform:uppercase;
	line-height:25px;
	margin-bottom:20px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.link:hover {
	text-decoration:none;
	color:#7cc576 !important;
	background:#fff;
}

.link:active, .link:focus {
	background: #7cc576;
	text-decoration:none;
	color:#fff !important;
}

/* Navigation
---------------------------------*/
.main-nav-outer{
	padding:0px;
	border-bottom:1px solid #dddddd;
	box-shadow:0 4px 5px -3px #ececec;
	position:relative;
	background:#fff;
}
.main-nav{
	text-align:center;
	margin:10px 0 0px;
	padding:0;
	list-style:none;
}
.main-nav li{
	display:inline;
	margin:0 1px;
}
.main-nav li a{
	display:inline-block;
	color:#222222;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	line-height:20px;
	margin:17px 32px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.main-nav li a:hover{
	text-decoration:none;
	color: #7cc576;
}

.small-logo{
	padding:0 32px;
}

.main-section{
	padding:90px 0 110px;
}


/* Services
---------------------------------*/

.service-list{
	padding:0 0 0 0;
	font-size:14px;
	margin-bottom:40px;
}
.service-list-col1{
	float:left;
	width:60px;
}
.service-list-col1 i{
	font-style:normal;
	font-size:38px;
	display:block;
	color:#222;
	font-family: 'FontAwesome';
	line-height:38px;
}
.service-list-col2{
	white-space: nowrap;
	display: inline-block;
	/* overflow: hidden; */
}


.main-section.alabaster{
	background:#fafafa;
}


/* no transition on .isotope container */

.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

.main-section.paddind{
	padding-bottom:60px;
}


.summary {
	text-align: left;
	margin-bottom: 2%;
}

.summary p{
	text-align: left;
}


/* Social Media
---------------------------------*/
.fab {

	padding: 27%;
  font-size: 50px;
  /* width: 50px; */
  text-align: center;
  text-decoration: none;
	/* margin: 5px 2px; */
}

.fab:hover {
	opacity: 0.7;
}

.fab.fa-facebook-square {
  color: #3B5998;
  background: white;
}

.fab.fa-linkedin-square {
  color: #007bb5;
  background: white;
}

.fab.fa-pinterest-square {
  color: #cb2027;
  background: white;
}

.fab.fa-tumblr-square {
  color: #2c4762;
  background: white;
}

.fab.fa-google-plus-square {
  color: #dd4b39;
  background: white;
}

.fab.fa-vimeo-square {
  color: #45bbff;
  background: white;
}

.fab.fa-twitter-square {
  color: #55ACEE;
  background: white;
}

.fab.fa-youtube-square {
  color: #bb0000;
  background: white;
}

.fab.fa-flickr {
  color: #f40083;
  background: white;
}

.fab.fa-instagram {
  color: #125688;
  background: white;
}


.col-lg-3.box {
  transition: box-shadow .3s;
  width: 100%;
	height: 100%;
	margin-top: 2.75%;
	margin-right: 4%;
	margin-left: 4%;
	background-color: white;
	height: 40vh;
	float: left;
	box-shadow: 0 0 11px rgba(44,44,44,.5);
}
.col-lg-3.box:hover {
	box-shadow: 0 0 11px rgba(55,55,55,.7);
}

.about-button {
	margin-top: 6%;
	color: white;
	background-color:	#006DA2;
	border: 0px;
	font-size: 120%;
	box-shadow: 0 0 11px rgba(44,44,44,.5);
}

.about-button:hover {
  box-shadow: 0 0 11px rgba(55,55,55,.7);
}

.button-link {
	color: white;
}

.button-link:hover {
	color: white;
}

/*Card*/
@media only screen and (min-width: 500px) {
	.card.h-10{
		font-size: 1.1vw;
	}

	.card-title{
		font-size: 1.9vw;
	}

	.card-subtitle.mb-2.text-muted{
		font-size: 1.25vw;
	}
}


.btn-outline-secondary.state span {
	display: none;
	/* font-size: 17px; */
	font-size: 1.3vw;

	color: white;
	width: 90%;
	height: 92%;
	/* bottom: 17%; */
	bottom: 4%;
	left: 5%;

	position: absolute;
	border-radius: 3px;
	font-family: 'Montserrat',sans-serif;
	background: rgba(0,0,0,0.8);
	
	padding-top: 7px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;

	text-align: left;
	overflow: scroll;
}

.btn-outline-secondary.state:hover span {
	display: block;
}

.btn-outline-secondary.org span {
	display: none;
	/* font-size: 17px; */
	font-size: 1.3vw;

	color: white;
	width: 90%;
	height: 95%;
	bottom: 1%;
	left: 5%;

	position: absolute;
	border-radius: 3px;
	font-family: 'Montserrat',sans-serif;
	background: rgba(0,0,0,0.8);

	padding-top: 7px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;

	text-align: left;
	overflow: scroll;
}

.btn-outline-secondary.org:hover span {
	display: block;
}


/* Slider
---------------------------------*/
@media only screen and (min-width: 760px) {
	.slider-wrapper{
		slides-to-show: 1;
	}
}

.instance-slider{
	text-align: left;
	margin-bottom: 2%;
	width: 100%;
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.snip1584 {
  font-family: 'Monospace', sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
	text-align: left;
	overflow-wrap: break-word;
	width:500px;
  height:300px;
}
.snip1584 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1584:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: 100%;
  content: '';
  background-color: rgba(51, 51, 51, 0.9);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.snip1584 img {
	display: block;
  margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	width: 200%;
	height: 200%;
	max-width: 100%;
	max-height: 100%;
	height: auto;
	width: auto\9;
  backface-visibility: hidden;
}
.snip1584 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
	justify-content: center;
	overflow-wrap: break-word;
}

.snip1584 h1 {
	text-align: center;
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	/* Overflow of Name in Disaster Box */
	overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em;
  max-height: 8em;
}

.snip1584 h3 {
	margin: 0;
  opacity: 0;
	letter-spacing: 1px;
	color: white;
	max-width: 90%;
	text-align: center;
}
.snip1584 h5 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}
.snip1584 h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
	margin-bottom: 5px;
	overflow-wrap: break-word;
}
.snip1584 h5 {
  font-weight: normal;
	background-color: lightgray;
  padding: 3px 10px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-delay: 0s;
	transition-delay: 0s;
	overflow-wrap: break-word;
}
.snip1584 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1584:hover:before,
.snip1584.hover:before {
  top: 10px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1584:hover h3,
.snip1584.hover h3,
.snip1584:hover h5,
.snip1584.hover h5 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
	opacity: 1;
}
.snip1584:hover h3,
.snip1584.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.snip1584:hover h5,
.snip1584.hover h5 {
  -webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.slider-wrapper {
	text-align: center;
}

.slick-prev {
	margin-left: 2%;
}
.slick-prev:before {
	color: black !important;
}
.slick-prev:after {
	color: black !important;
}

.slick-next {
	margin-right: 2%;
}
.slick-next:before {
	color: black !important;
}
.slick-next:after {
	color: black !important;
}


/* Animation Timers
---------------------------------*/
.delay-02s {
	animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
}
.delay-03s {
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}
.delay-04s {
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}

.delay-05s {
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}
.delay-06s {
	animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
}

.delay-07s {
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
}
.delay-08s {
	animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}

.delay-09s {
	animation-delay: 0.9s;
	-webkit-animation-delay: 0.9s;
}
.delay-1s {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}
.delay-12s {
	animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
}

/* Search Page */

#search-header {
  font-weight: normal;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 150%;
}

#search-header::first-letter {
  text-transform: uppercase;
}

#search-header-2 {
  font-weight: normal;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 100%;
}
